.letter--spacing--sm {
  letter-spacing: 3px;
  word-spacing: -3px;
}

.letter--spacing--md {
  letter-spacing: 3.6px;
  word-spacing: -9px;
}

/* .banner {
  background-position: 0rem -46rem;
} */

@media (max-width: 768px) {
  .banner {
    background-position: 0rem -18rem;
  }
}
