.marquee {
    overflow: hidden;
    padding: 10px 0;
}

.marquee-text {
    animation: marquee 10s linear infinite;

    /* &::after {
        content: "RARECLUB";
        color: #ddd;
        position: absolute;
        z-index: 10;
    } */
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}