@use "./index" as *;

body {
  background-color: var(--black);
}

//HERO SECTION
.title--name {
  & h1 {
    font-family: var(--font-secondary);
    font-size: 2.6em;
    font-weight: 900;
    margin: 13% 0 0 0;
  }
}

.title--intro {
  & p {
    font-size: 1.1em;
  }
}

.title--smiley {
  margin-top: 16%;
  margin-left: -4%;
}

.about-me--headline {
  font-family: var(--font-chintzy);
  letter-spacing: 0.6rem;
  word-spacing: -0.5em;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.skills ul li {
  width: 50%;
}

footer {
  background-color: var(--orange);
  p {
    font-size: 0.8em;
    text-align: center;
  }
}

.socials {
  a:not(:last-child) {
    padding-right: 1em;
  }

  a {
    img {
      width: 1.6em;
    }
  }
}

.headshot {
  width: 48%;
}
.headshot-frame {
  position: absolute;
  transform: translateX(-13%) translateY(8%);
  width: 47%;
  z-index: -1;
}
