@use "./index" as *;

body {
  background-color: var(--black);
}

//HERO SECTION
.title--name {
  & h1 {
    font-family: var(--font-secondary);
    font-size: 2.6em;
    font-weight: 900;
    margin: 13% 0 0 0;
  }
}

.title--intro {
  & p {
    font-size: 1.1em;
  }
}

.title--smiley {
  margin-top: 16%;
  margin-left: -4%;
}

.about-me--headline {
  font-family: var(--font-chintzy);
  letter-spacing: 0.6rem;
  word-spacing: -0.5em;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.skills ul li {
  width: 50%;
}

.headshot {
  width: 48%;

  &::before {
    content: "";
    border: 1px solid var(--orange);
    width: 48%;
    height: 100%;
  }
}
