/* @import url("animations/typewriter.css"); */
/* @import url("util/util.css"); */
/* @import url("util/icons.css"); */
@import url("util/colors.css");
@import url("util/fonts.css");
@import "tailwindcss";

/* @import url("/assets/fonts/pokemon_classic/Pokemon/Classic.ttf"); */


/* :root {
  --dh-orange: #e77236;
} */

/* body{
  background-color: pink;
} */

body,
img:hover,
a:hover,
button:hover {
  cursor: url(/assets/bitmap/cursor-pointer-finger.png) format("ttf");
}

canvas {
  display: block;
}

.paragraph::before {
  content: "";
  width: 2em;
  display: block;
  height: 2.6em;
  position: absolute;
  z-index: -1;
  transform: translateX(-11px) translateX(0px);
  /* @apply bg-dh-orange; */
}

.shadow--solid__about-me::before {
  content: "A Bit About Me";
  width: fit-content;
  position: absolute;
  z-index: -1;
  transform: translateX(-8px) translatey(4px);
  /* @apply text-dh-orange; */
  color: var(--color-dh-orange);
}

.shadow--solid__ashley::before {
  content: "ASHLEY";
  width: fit-content;
  position: absolute;
  z-index: -1;
  transform: translateX(-6px) translatey(3px);
  /* font: var(--dh-orange); */
  color: var(--color-dh-orange);
}

.shadow--solid__portfolio::before {
  content: "Portfolio";
  width: fit-content;
  position: absolute;
  z-index: -1;
  transform: translateX(-8px) translatey(3px);
  color: var(--color-dh-orange);
}

.hero__name {
  grid-area: name;
}

.hero__intro {
  grid-area: intro;
}

.hero__cta {
  grid-area: cta;
}

.hero__tagline {
  grid-template-areas:
    "name"
    "intro"
    "cta";
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    margin-block: 0.5em;
    /* border-radius: 25vw; */
  }

  &::-webkit-scrollbar-thumb {
    /* border-radius: 25vw; */
    transition: background-color 250000ms;
  }

  /* &::-webkit-scrollbar-thumb:hover {
    border-radius: 25vw;
  } */

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    margin-block: 0.5em;
    /* border-radius: 25vw; */
  }

  &::-webkit-scrollbar-thumb {
    /* border-radius: 25vw; */
    transition: background-color 250000ms;
  }

  /* &::-webkit-scrollbar-thumb:hover {
    border-radius: 25vw;
  } */

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: rgba(128, 128, 128, 0.08);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(221, 226, 221, 0.885);
    }

    &::-webkit-scrollbar {
      opacity: 100%;
      width: 0.5em;
    }
  }
}

/* dialog bg*/
.bg__grid {
  position: absolute;
  z-index: -1;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(24, 1fr);
  /* grid-template-rows: repeat(24, 1fr); */
}

.bg__block {
  border: solid 0.1px rgb(114, 219, 49, 0.2);
  background-color: rgb(114, 219, 49, 0);
  transition: background-color 0.2s;

  &:hover {
    /* opacity: 100%; */
    /* animation: float .5s; */
    background-color: rgb(114, 219, 49, 1);
  }
}

/* Nav Menu Underline */
.dh__underline::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.dh__underline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dh__underline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  border-bottom: solid 3.6px;
  z-index: -1;
  transition: transform 0.3s ease;
  border-bottom-color: var(--color-dh-orange);
}

.dh__underline {
  position: relative;
  width: fit-content;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.375rem));
  }
}

@media only screen and (min-width: 1024px) {
  div.hero__tagline {
    grid-template-areas:
      "name"
      "intro"
      "cta";
    grid-template-columns: 1fr;
    justify-items: end;
  }

  div.hero__cta {
    justify-self: end;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .hero__tagline {
    grid-template-areas:
      "name cta"
      "intro cta";
    justify-items: center;
    grid-template-columns: 1fr 0.5fr;
  }

  .hero__cta {
    padding-left: 0.25rem;
    align-self: center;
    justify-self: start;
  }
}