@import "tailwindcss";

@layer components {
  .blog__item--hover::before {
    content: "";
    /* background-image: url("../assets/bitmap/beat tape cover.jpg"); */
    /* filter: contrast(86%) saturate(68%) brightness(88%) hue-rotate(20deg)
      hue-rotate(314deg) blur(4px) opacity(.3); */
    /* mix-blend-mode: soft-light; */
    background-color: var(--color-dh-orange);
    width: 100%;
    /* z-index: -1; */
    position: absolute;
    height: 100%;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* .blog__item--hover:after {
  content: "";
  background-image: url("../assets/bitmap/beat tape cover.jpg");
  width: 85%;
  z-index: -1;
  position: absolute;
  height: 11%;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: bottom;
} */

@layer components {

  .blog__item--hover:hover:before,
  .blog__item--hover:hover:after {
    transform: scaleX(1);
  }

  .blog__item--hover div h4,
  .blog__item--hover span {
    transition: color, background, cubic-bezier(0.44, 0.64, 0.56, 1.25) 180ms;
  }

  /* 
  #does weiiiiiiird things to the title

  .blog__item--hover:hover div h4 {
    font: var(--color-dh-black) !important;
  } */

  .blog__item__block:hover {
    .blog__item__elem {
      background-color: var(--color-red-700);
    }

    /* & .blog__item__underline {
      width: var (--w-[33%]) !important;
      height: var (--h-[20px]) !important;
    } */
  }

  .blog__item--hover:hover span {
    background-color: var(--color-dh-black) !important;
  }
}

pre b {
  padding: 1.6px;
  animation: wave 4000ms infinite ease-in-out alternate;
}

/* pre {
  transform: rotate(80deg);
} */

@keyframes wave {
  from {
    padding: 0.3px;
  }

  to {
    padding: 1.6px;
  }
}