/* @import "tailwindcss" prefix(dh); */
@import "tailwindcss";

@theme {
    --color-dh-white: #ddd;
    --color-dh-black: #161616;
    --color-dh-light-gray: #d9d9d9;
    --color-dh-green: #72db31;
    --color-dh-red: darkred;
    --color-dh-light-pink: salmon;
    --color-dh-orange: #e77236;
    --color-dh-blue: #326dee;
    --color-dh-pink: #ffd7ba;
    --color-dh-gray: #c4c4c4;
}