@import "tailwindcss";

@layer components {
    .btn {
        letter-spacing: 0.15438;
        width: 8rem;
        font-family: var(--font-space-mono);
        font-weight: bold;
        height: 2.25rem;
        justify-items: center;
        align-items: center;
        /* color: var(--color-dh-black); */
        /* flex-shrink-0 bg-dh-light-gray   font-bold text-center; */
    }
}