:root {
  --icon-size: 26px;
}

.instagram--solid {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  scale: 1.2;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgMzAgMzAiIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiPiAgICA8cGF0aCBkPSJNIDkuOTk4MDQ2OSAzIEMgNi4xMzkwNDY5IDMgMyA2LjE0MTk1MzEgMyAxMC4wMDE5NTMgTCAzIDIwLjAwMTk1MyBDIDMgMjMuODYwOTUzIDYuMTQxOTUzMSAyNyAxMC4wMDE5NTMgMjcgTCAyMC4wMDE5NTMgMjcgQyAyMy44NjA5NTMgMjcgMjcgMjMuODU4MDQ3IDI3IDE5Ljk5ODA0NyBMIDI3IDkuOTk4MDQ2OSBDIDI3IDYuMTM5MDQ2OSAyMy44NTgwNDcgMyAxOS45OTgwNDcgMyBMIDkuOTk4MDQ2OSAzIHogTSAyMiA3IEMgMjIuNTUyIDcgMjMgNy40NDggMjMgOCBDIDIzIDguNTUyIDIyLjU1MiA5IDIyIDkgQyAyMS40NDggOSAyMSA4LjU1MiAyMSA4IEMgMjEgNy40NDggMjEuNDQ4IDcgMjIgNyB6IE0gMTUgOSBDIDE4LjMwOSA5IDIxIDExLjY5MSAyMSAxNSBDIDIxIDE4LjMwOSAxOC4zMDkgMjEgMTUgMjEgQyAxMS42OTEgMjEgOSAxOC4zMDkgOSAxNSBDIDkgMTEuNjkxIDExLjY5MSA5IDE1IDkgeiBNIDE1IDExIEEgNCA0IDAgMCAwIDExIDE1IEEgNCA0IDAgMCAwIDE1IDE5IEEgNCA0IDAgMCAwIDE5IDE1IEEgNCA0IDAgMCAwIDE1IDExIHoiLz48L3N2Zz4=")
    50% 50% no-repeat;
  background-size: 100%;
}
