/* @import url("util/colors.css"); */
@import "tailwindcss";

@utility link--active {
  /* font: var(--font-semibold); */
  color: var(--color-dh-orange);
}

@utility filter--orange {
  filter: brightness(0) saturate(100%) invert(48%) sepia(92%) saturate(501%) hue-rotate(334deg) brightness(95%) contrast(90%);
}

@utility filter--white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(107%) contrast(101%);
}

/* @utility dh-shadow-* { */
/* &::before { */
.dh-shadow-title::before {
  /* content: --value([string]); */
  content: "A Thing I Did";
  width: fit-content;
  position: absolute;
  z-index: -1;
  transform: translateX(-8px) translate(4px);
  /* @apply text-dh-orange; */
  color: var(--color-dh-orange);
}

/* }
} */