@use "../util/" as *;

.terminal {
  border: solid 6px $light-gray;
  background-color: $black;
  width: 100%;
  max-width: 620px;
  height: 260px;
  margin: auto;
}

.terminal--window-nav {
  border-bottom: solid 6px $light-gray;
  justify-content: space-between;
  padding: 6px 10px;
}

.terminal--nav-controls {
  margin: auto 0;
  & button {
    height: 30px;
    width: 26px;
    justify-content: center;
    display: flex;
    padding: 5px 0;
    border-radius: 0;

    &:hover {
      & svg {
        & path {
          fill: $green;
        }
        & rect,
        line,
        circle {
          stroke: $green;
        }

        & path:last-child {
          fill: $red;
        }
      }
    }
  }
}

.terminal--icon {
  width: 12%;
  height: auto;
}

.terminal-art {
  font-size: clamp(0.8vw, 8px, 2vw);
}

.terminal--control-icon {
  width: 66%; //this breaks on chrome if set to 100%
  height: auto;
}

.terminal--text {
  overflow: hidden;
  // word-wrap: break-word;
  text-overflow: ellipsis;
}

.terminal--screen {
  overflow: hidden;
  text-overflow: clip;
  background-color: $black;
  & pre {
    margin-bottom: 0;
  }

  & p,
  h6 {
    margin-top: 0;
    margin-bottom: 3px;
    & strong {
      font-weight: 700;
    }
  }

  & p,
  a {
    font-family: $font-terminal;
    color: $green;
  }
}

.cli {
  width: fit-content;
  max-width: 50%;
  border-right: solid $green 8px;
  animation: blink 1s linear infinite;
  color: $green;
  &:hover {
    cursor: text;
  }
}

@media only screen and (min-width: 720px) {
  .terminal {
    height: 328px;
    margin: 0;
  }
}
